/* 全局样式 */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
}

.language-toggle {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 10;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row; /* 默认是横向 */
}

/* 图标设置 */
.icon {
  height: 1.2em;           /* 图标高度 = 当前字体大小 */
  vertical-align: middle; /* 垂直居中对齐文本 */
  margin-right: 20px;      /* 图标和文字之间留点空隙 */
}

/* 左侧栏（默认横向放左边） */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;  /* 使侧边栏高度撑满视口 */
  padding: 20px;
  background-color: black;
  color: white;
  width: 400px;
  position: fixed;
}

.sidebar a {
  color: white;
  text-decoration: underline;
}

.sidebar > *:not(#download-cv) {
  /* 其他内容正常排列 */
  margin-bottom: 15px;
}

/* 让中间内容自动占满剩余高度 */
.sidebar-content {
  flex: 1;
}

/* 下载CV固定底部 */
#download-cv {
  margin-top: auto; /* 推到最底部 */
  font-weight: bold;
  margin-bottom: 40px; /* 底部留出空间 */
}

#download-cv a {
  color: white;
  text-decoration: underline;
}

#download-cv a:hover {
  text-decoration: underline;
}

#last-updated {
  font-size: 12px;
  color: #aaa;
  margin-top: 4px;
  display: inline-block;
}


/* 右侧主内容 */
.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* 菜单按钮组 */
.menu button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px; /* 可以调节大小 */
  color: black;    /* 字体颜色改成黑色，更清晰 */
  border-radius: 4px; /* 可选，按钮圆角 */
  transition: background-color 0.3s ease;
}

.menu button:hover {
  background-color: white; /* 悬停时稍微变灰，提示交互 */
}

/* 语言切换按钮 */
.language-toggle {
  position: fixed;
  top: 30px;
  right: 25px;
  z-index: 10;
}

.language-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* 隐藏下拉菜单 */
.language-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 14px;
  white-space: nowrap;
}

.language-menu div {
  padding: 8px 12px;
  cursor: pointer;
}

.language-menu div:hover {
  background-color: #f0f0f0;
}